* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

/* .wrapper {
    background: white;
    width: 90%;
    margin: auto;
} */

p,
nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* NAV --------------------- */

nav {
    background: black;
    color: white;
    height: 2.4em;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red; */
    float: right;
    vertical-align: top;
}

li a {
    display: block;
    text-align: center;
    padding: 8px 16px;
    float: left;
    /* border: 1px solid red; */
}

a {
    text-decoration: none;
}

a:active,
a:link,
a:visited {
    color: white;
}

nav span {
    /* border: 1px solid red; */
    display: inline-block;
    padding-top: .4em;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}


.menuIcon div {
    /* The width and the height property specifies the width and height of each bar.
    top and bottom margin is used to create some distance between each bar.  */
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 6px 8px 6px 0;
    cursor: pointer;
}

.md-block {
    display:none;
}




/* HERO MAIN --------------------- */

.heroMain {
    background-image: url("./img/neon.jpg");
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.heroMain h1 {
    text-shadow: 1px 1px black;
    font-size: x-large;
    margin-bottom: 32px;
}

.heroMain h2 {
    text-shadow: 1px 1px black;
    margin-bottom: 18px;
    font-size: larger;
}


button {
    
    /* TODO: HOW TO MAKE ALL SURFACE OF BUTTON CLICKABLE*/

    background-color: black;
    color: white;
    border: none;
    padding: 16px;
    width: 260px;
    height: 80px;
    border: 2px solid white;
    font-size: small;
}

/* SECTION GENERAL STYLES --------------------- */

section {
    margin-bottom: 12px;
}

section h2 {
    padding: 32px 0 12px 0;
    text-align: center;
}

section span {
    color: orange;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-bottom: 16px;
    text-decoration: underline; 
}


/* SECTION LOCATIONS --------------------- */

iframe {
    width:100%;
    height: 450px;
}



/* SECTION GALLERY --------------------- */

.gridBeer {
    width: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin-bottom: 12px;
}

.gridBeer img {
    /* con 100% ocupa el total del contendor */
    width: 100%;
}

.heroSecondary {
    width: 100%;
    margin-top: 12px;
}


/* SECTION BEERS --------------------- */

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    width: 40%;
    padding-bottom: 16px;
}

article h3 {
    text-align: center;
}

article img {
    width: 100%;
}

/* SECTION TEAM --------------------- */

#team img {
    width: 100%;;
    
}

.gridTeam {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px;
}


/* FOOTER --------------------- */

footer {
    color: white;
    background: black;
    text-align: center;
    padding: 18px;
}

/* This would match only the a tags which href property starts with the "tel" value: */
a[href^="tel:"] {
    color: orange;
  }