/* for screen less than 800px */
@media all and (max-width: 800px){
    .heroMain {
        height: 400px;
    }

    .gridBeer {
        grid-template-columns: 1fr; 
        margin-bottom: 0;
        grid-gap: 8px;
    }   

    iframe {
        width:100%;
        height: 250px;
    }

    .gridTeam {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 18px;
    }

    .md-block {
        display:block;
    }

    .md-none {
        display:none;
    }

    /* #locations p {
        text-align: center;
    }  */
}
